:root {
  --black: black;
  --onyx: #393e41;
  --onyx_blackier: #2d3133;
  --blackier: #181a1b;
  --outrageous-orange: #fc7753;
  --gainsboro: #dbd9db;
  --platinum: #e5ebea;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  background-color: var(--platinum);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  visibility: hidden;
}

.toggle-menu {
  position: fixed;
  appearance: none;
  top: 0px;
  right: 0px;
  z-index: -20;
  outline: none;
  width: 4rem;
  height: 3rem;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  box-shadow: 1px 0px 10px var(--onyx);
  left: 0;
  height: 3rem;
  width: 100%;
  z-index: 4;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem 0rem 2rem;
  color: var(--platinum);
  background-color: var(--onyx);
}

.navbar__list {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__list-element {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar__list-element a {
  color: var(--platinum);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
  transition: all 0.2s ease;
}

.navbar__list-element a:hover {
  background: rgb(248, 126, 93);
  background: linear-gradient(
    18deg,
    rgba(248, 126, 93, 1) 0%,
    rgba(217, 63, 22, 1) 100%
  );
}

@media (max-width: 34em) {
  .toggle-menu {
    z-index: 11;
  }

  .toggle-menu::before,
  .toggle-menu::after {
    content: "";
    position: fixed;
    background-color: var(--onyx_blackier);
    right: 0px;
    z-index: 9;
    top: 0px;
    width: 2.5rem;
    height: 0.4rem;
    border-radius: 10px;
    transition: all 0.2s ease;
  }

  .toggle-menu::before {
    transform: translate(-5px, 19px);
  }

  .toggle-menu::after {
    transform: translate(-5px, 7px);
  }

  .toggle-menu:checked::before {
    transform: translate(-5px, 14px) rotate(-45deg);
  }

  .toggle-menu:checked::after {
    transform: translate(-5px, 14px) rotate(45deg);
  }

  .navbar__list {
    position: fixed;
    z-index: 9;
    border-top: 2px solid var(--onyx_blackier);
    background-color: var(--onyx);
    height: fit-content;
    flex-direction: column;
    padding: 2rem 3rem 2rem 3rem;
    border-radius: 0px 0px 0px 5px;
    box-shadow: 1px 0px 10px var(--onyx);
    top: 3rem;
    right: 0px;
    transform: translateX(100%);
    transition: transform 0.2s ease;
  }
  .navbar__list-element {
    width: 100%;
    text-align: center;
  }
  .navbar__list-element a {
    padding: 0.5rem 2rem 0.5rem 2rem;
    display: block;
    width: 100%;
  }

  .toggle-menu:checked ~ .navbar__list {
    transform: translateX(0);
  }

  hr {
    border: 1px solid var(--onyx_blackier);
    width: 100%;
    visibility: visible;
    margin: 1rem 0rem 1rem 0rem;
  }
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--platinum);
  background: rgb(248, 126, 93);
  background: linear-gradient(
    18deg,
    rgba(248, 126, 93, 1) 0%,
    rgba(217, 63, 22, 1) 100%
  );
  height: 100vh;
}

.welcome-section h1 {
  font-size: 4rem;
  font-weight: bolder;
  background-color: var(--black);
  margin-bottom: 2rem;
}

@media (max-width: 20em) {
  .welcome-section {
    padding: 0rem 1rem 0rem 1rem;
  }
  .welcome-section h1 {
    font-size: 3rem;
  }
}

.welcome-section p {
  font-size: 2rem;
  background-color: var(--black);
  font-weight: lighter;
}

.nav-to-projects {
  position: relative;
  top: -25vh;
}

.projects {
  margin: 4rem 0rem 4rem 0rem;
  padding: 0rem 6rem 0px 6rem;
}

@media (max-width: 34em) {
  .projects {
    padding: 0rem 2rem 0rem 2rem;
  }
}

@media (max-width: 22em) {
  .projects {
    padding: 0rem 1rem 0rem 1rem;
  }
}

.projects h2 {
  text-align: center;
}

.projects-grid {
  max-width: 120rem;
  margin: auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 3rem 3rem;
}

@media (max-width: 22em) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

.project-tile {
  border-radius: 5px;
  box-shadow: 1px 0px 10px var(--onyx);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  background-color: var(--onyx);
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;
}

.project-tile p {
  padding-top: 1rem;
}

.project-tile:hover {
  transform: scale(1.05, 1.05);
}

.project-tile__img {
  width: 100%;
}

.vignette {
  box-shadow: inset 0px 0px 40px rgb(57, 62, 65, 0.5);
  line-height: 0;
  display: inline-block;
}

.vignette img {
  position: relative;
  z-index: -3;
}

.project__text {
  color: white;
  text-align: center;
}

.all-projects {
  /* cursor: pointer; */
  box-shadow: 0px 0px 10px var(--outrageous-orange);
  background-color: var(--outrageous-orange);
  margin: auto;
  border-radius: 5px;
  margin-top: 4rem;
  transition: all 0.2s ease;
  width: fit-content;
}

.all-projects a {
  color: transparent;
  display: block;
  background-color: white;
  -webkit-background-clip: text;
  padding: 1rem 1rem 1rem 1rem;
  background-clip: text;
  font-weight: 900;
  font-size: 2rem;
  transition: all 0.2s ease;
}

.all-projects:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0px 0px 10px var(--outrageous-orange);
}
.all-projects:hover a {
  color: white;
  text-shadow: 0px 0px 5px white;
}

.contacts {
  background-color: var(--black);
  color: var(--platinum);
  /* height: 50vh; */
  padding: 10rem 0rem 10rem 0rem;
}

.contacts h2 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 7rem;
  font-weight: bolder;
}

.list-contacts {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--platinum);
}

.list-contacts li {
  padding: 0rem 2rem 0rem 2rem;
}

.list-contacts a {
  color: var(--platinum);
  text-decoration: underline solid var(--outrageous-orange);
  /* text-decoration: underline dotted; */
}
